{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Pyöräparkit</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h4>Haukilahden Lukio</h4>
                <div class="card-body">
                    <p class="card-text">This is the time here</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h4>Aalto-yliopisto (Metro)</h4>
                <div class="card-body">
                    <p class="card-text">This is the time here</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h4>Fat Lizardin Pysäkki</h4>
                <div class="card-body">
                    <p class="card-text">This is the time here</p>
                </div>
            </div>
        </div>
    </div>


    <h1>Bussit</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h4>551 (Pasilaan)</h4>
                <div class="card-body">
                    <p class="card-text">Saapumisaika</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h4>550 (Selloon)</h4>
                <div class="card-body">
                    <p class="card-text">This is the time here</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h4>Haukilahden Lukio</h4>
                <div class="card-body">
                    <p class="card-text">This is the time here</p>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}
